@font-face {
  font-family: "Google Sans";
  src: local("Google Sans"),
    url("./fonts/GoogleSans/GoogleSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
